body {
  font-family: 'Manrope' !important;
}

/* Apply smooth transition */
body,
.tag,
.btn,
div,
button,
select,
input[type="text"] {
  transition: background-color 0.2s ease, color 0.0s ease;
}

/* Loader CSS */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 4px solid #f3f3f3;
  /* Light grey */
  border-top: 4px solid #ff003d;
  /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: "Manrope", sans-serif;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

button {
  cursor: pointer;
}

:root {
  --sidebar-icon-color: #424657;
  --plan-head: #424657;
  --bg-color: #fff;
  --dropdown-bg-color: #f5f5f5;
  --card-bg-color: #fff;
  --dropdown-text-color: #333333;
  --sidebar-text-color: #424657;
  --sidebar-bg-color: #f9f9f9;
  --absent-text-color: #000;
  --absent-bg-color: #fff2f2;
  --event-text-color: #3d404f;
  --event-bg-color: #f9f9f9;
  --event-btn: #f0f0f0;
  --refer-bg-color: #fff4eb;
  --task-dropdown-bg: #fff;
  --task-dropdown-bg-sha: rgba(193, 193, 193, 0.25);
  --task-dropdown-hover-bg: #f7f8f8;
  --calendar-bg-color: #f7f7f7;
  --calender-day: #fff;
  --calender-prev-next-day: #d3d3d3;
  --contact-name: #382424;
  --contact-text: #424657;
  --contact-bg: #f5f5f5;
  --button-bg: #f7f8f8;
  --button-text: #424657;
  --button-border: #e4e4e4;
  --logo-image-url: url("assets/slogo-ico.svg");
  /* Default image URL */
  --tab-bg-color: #f5f5f5;
  --piechart-bg1: #f9f9f9;
  --piechart-bg2: #f2454e;
  --card-shadow: rgba(207, 207, 207, 0.15);
  --modal-bg: rgba(255, 255, 255, 0.7);
  --doughnut-bg1: #ff003d;
  --doughnut-bg2: #e4e2ea;
  --sidebarclosingbtncolor: #EBEBEB;
  --scrollthumbcolor: #d7d7d7;
  --scrolltrackcolor: #f0f0f0;
  --statusactive-bg: #E2F0EC;
  --statusactive-text: #1C9565;
  --statusinactive-bg: rgba(240, 226, 226, 1);
  --statusinactive-text: rgba(149, 28, 28, 1);
  --input-color: #f9f9f9;
  --text-color: black;
  --input-border-color: #e2e8f0;
}

[data-theme="dark"] {
  --sidebar-icon-color: #dfdde6;
  --piechart-bg1: #424557;
  --piechart-bg2: #c00000;
  --doughnut-bg1: #f2454e;
  --doughnut-bg2: #424557;
  --modal-bg: rgba(0, 0, 0, 0.7);
  --plan-head: #f7f7f7;
  --bg-color: #16141e;
  --text-color: #e0e0e0;
  --card-bg-color: #24222c;
  --card-text-color: #ffffff;
  --sidebar-bg-color: #181621;
  --sidebar-text-color: #dfdde6;
  --absent-bg-color: #370c0c;
  --absent-text-color: #f4f4f4;
  --event-bg-color: #2a2834;
  --event-btn: #211f28;
  --calendar-bg-color: #24222c;
  --event-text-color: #e8e9ec;
  --task-dropdown-bg: #16141e;
  --task-dropdown-hover-bg: #24222c;
  --task-dropdown-bg-sha: #16141e;
  --calender-day: #2a2834;
  --calender-prev-next-day: #d3d3d3;
  --refer-bg-color: linear-gradient(277deg,
      rgba(62, 41, 22, 0.24) 5.57%,
      rgba(164, 108, 57, 0.39) 100%);
  --contact-name: #e4e2ea;
  --contact-text: #9f9da8;
  --contact-bg: #24222c;
  --button-bg: #1f1d28;
  --button-text: #b8b8b8;
  --button-border: #3e404b;
  --logo-image-url: url("assets/Congre8_logo-white.svg");
  /* Default image URL */
  --tab-bg-color: #24222c;
  --sidebarclosingbtncolor: #424657;
  --scrollthumbcolor: #424657;
  --scrolltrackcolor: rgba(66, 70, 87, 0.17);
  --statusactive-bg: rgba(35, 84, 79, 0.40);
  --statusactive-text: rgba(103, 191, 102, 1);
  --statusinactive-bg: rgba(255, 0, 59, 0.18);
  --statusinactive-text: rgba(214, 0, 0, 1);
  --input-color: #24222C;
  --input-border-color: #3F3D48;
  --text-color: white;
}

.sidebarclosingbtn {
  stroke: var(--sidebarclosingbtncolor);
}

.plan-head {
  color: var(--plan-head);
}

.sticky-top {
  border: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
  transition: background-color 0.3s, color 0.3s;
}

.sidebar .nav-item {
  margin-bottom: 9px;
}

.sidebar .nav-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-weight: 500;
  color: var(--sidebar-text-color);
  transition: color 0.3s;

}

#sidebarSticky .nav-item {
  margin-bottom: 9px;
}

#sidebarSticky .nav-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-weight: 500;
  color: var(--sidebar-text-color);
  transition: color 0.3s;
}

/* Ensure the default state for the arrow */
.rotate-icon {
  color: var(--sidebar-icon-color) !important;
  transform: rotate(-90deg);
  transition: transform 0.3s ease !important;
}

/* Submenu with transition delay for better synchronization */
#formsSubMenu {
  transition: height 0.3s ease 0.1s;
  /* Adjust delay as needed */
}


/* Rotate the icon immediately when the submenu starts opening */
.nav-item:has(#formsSubMenu.show) .rotate-icon {
  transform: rotate(00deg);
  /* Rotate as per your requirement */
}

/*
/* Submenu with transition delay for better synchronization */
#settingsSubMenu {
  transition: height 0.3s ease 0.1s;
  /* Adjust delay as needed */
}


/* Rotate the icon immediately when the submenu starts opening */
.nav-item:has(#settingsSubMenu.show) .rotate-icon {
  transform: rotate(00deg);
  /* Rotate as per your requirement */
}

/* Submenu with transition delay for better synchronization */
#InterestsSubMenu {
  transition: height 0.3s ease 0.1s;
  /* Adjust delay as needed */
}


/* Rotate the icon immediately when the submenu starts opening */
.nav-item:has(#InterestsSubMenu.show) .rotate-icon {
  transform: rotate(00deg);
  /* Rotate as per your requirement */
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: none;
  /* Customize the color or style as needed */
}

/* Submenu with transition delay for better synchronization */
#attendenceSubMenu {
  transition: height 0.3s ease 0.1s;
  /* Adjust delay as needed */
}


/* Rotate the icon immediately when the submenu starts opening */
.nav-item:has(#attendenceSubMenu.show) .rotate-icon {
  transform: rotate(00deg);
  /* Rotate as per your requirement */
}

.nav-icon {
  width: 20px;
  height: 20px;
}

.dash {
  cursor: pointer;
  width: 100%;
  border-radius: 12px;
  padding: 4px;
  background: #FC0238;
  color: white !important;
}

.sidebar.closed li {
  padding-left: 0 !important;
  justify-content: center;
}

.sidebar.closed .nav-icon {
  width: 25px !important;
  height: 25px !important;
}

.nav-icon {
  margin-right: -4px;
  fill: var(--sidebar-icon-color);
}

.dash .nav-link {
  color: #FFF !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dash .nav-icon {
  fill: white;
  margin-left: 3px;
  margin-right: -4px;
  width: 16px;
  height: 16px;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
  transition: background-color 0.3s, color 0.3s;
}

.nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 12px;
}

.dropdown-menu {
  width: 300px;
  background-color: var(--card-bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-menu .toggle-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow-y: hidden;
  padding-top: 0.5rem;
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-text-color);
  transition: background-color 0.3s, color 0.3s;
}

.links-scroll {
  max-height: calc(100vh - 160px);
  overflow-y: hidden;
  /* Hide overflow initially */
}

/* Show overflow and increase opacity on hover */
.links-scroll:hover {
  overflow-y: auto;
}

/* WebKit Browsers - Animate the scrollbar width on hover */
.links-scroll::-webkit-scrollbar {
  width: 0px;
  /* Start with a hidden scrollbar */
  transition: width 0.8s ease;
  /* Smooth transition for scrollbar width */
}

.links-scroll::-webkit-scrollbar-track {
  background: var(--scrolltrackcolor);
  /* Track color */
}

.links-scroll::-webkit-scrollbar-thumb {
  background-color: var(--scrollthumbcolor);
  /* Thumb color */
  border-radius: 50px;
  /* Rounded thumb */
}

/* On hover, increase the scrollbar width smoothly */
.links-scroll:hover::-webkit-scrollbar {
  width: 7px;
  /* Final scrollbar width on hover */
}

.card-title {
  font-size: 20px !important;
}

.card-text {
  font-size: 12px !important;
}

.dropdown-item.d-flex {
  display: flex;
  align-items: center;
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  transition: background-color 0.3s, color 0.3s;
}

.absent-members-card .card-text {
  font-size: 24px !important;
}

.dropdown-item .pr-1 {
  margin-right: 8px;
}

.dropdown-item .pr-2 {
  margin-right: 10px;
}

.dropdown-item .badge {
  margin-left: auto;
}

.btn.upgrade-btn {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 169px;
  color: var(--text-color);
  height: 39px;
  border-radius: 25px;
  border: 2px solid #ff003d;
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(193, 193, 193, 0.25);
}

.checkbox {
  display: none;
}

.checkbox-label {
  background-color: #424657;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-label img {
  position: relative;
  z-index: 2;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(24px);
}

.dropdown-menu .toggle-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricing-plan {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.modal-body {
  display: flex;
}

.plan-card {
  border-radius: 10px;
  padding: 0 20px 20px 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 25px;
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  transition: background-color 0.3s, color 0.3s;
}

.plan-card .price {
  font-size: 70px;
  font-weight: bold;
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  transition: background-color 0.3s, color 0.3s;
}

.plan-card p.price {
  background: linear-gradient(to top left, #ff003d, #ffb169);
  -webkit-text-fill-color: transparent;
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  transition: background-color 0.3s, color 0.3s;
}

.plan-btn {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid;
  margin-top: 10px;
  border-image-slice: 1;
  background-color: white;
  color: transparent;
  cursor: pointer;
  outline: none;
  border-image-source: linear-gradient(90deg,
      #ff003d 0%,
      #ffb169 48%,
      #ff003d 100%);
  transition: background-color 0.3s, color 0.3s;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(45deg, #ffb169 0%, #ff003d 98%);
}

.plan-btn:hover {
  background: linear-gradient(45deg, #ffb169 0%, #ff003d 98%);
  color: white;
  width: 100%;
  border-image-source: linear-gradient(45deg, #ffb169 0%, #ff003d 98%);
}

.lc1 {
  background-color: var(--piechart-bg1);
}

.lc2 {
  background-color: var(--piechart-bg2);
}

.lc3 {
  background-color: #ffb169;
}

.btn-solid {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid;
  border-image-slice: 1;
  background: linear-gradient(45deg, #ffb169 0%, #ff003d 98%);
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border-image-source: linear-gradient(45deg, #ffb169 0%, #ff003d 98%);
  transition: background-color 0.3s, color 0.3s;
}

.modal.fade {
  background: var(--modal-bg);
  /* Semi-transparent white background */
  backdrop-filter: blur(3px);
  /* Blur the content behind */
  -webkit-backdrop-filter: blur(10px);
  /* For Safari support */
}

.modal-header {
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal-header h2 {
  flex-grow: 1;
  text-align: center;
}

.modal-content {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: var(--bg-color);
}

.custom-modal-dialog {
  max-width: 1000px;
  margin: 1.75rem auto;
}

.modal-body {
  display: grid;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  color: var(--text-color);
}

.plan-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs {
  margin: auto;
  height: 85%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
  background: var(--tab-bg-color);
}

.tab-item {
  padding: 8px 28px;
  display: flex;
  cursor: pointer;
  border-radius: 54px;
  color: var(--event-text-color);
  margin: 0 6px;
}

::selection {
  background-color: #ff003d;
  color: white;
}

.tab-item.active {
  background-color: var(--event-bg-color);
  border-radius: 54px;
  font-weight: 700;
  color: var(--event-text-color);
  box-shadow: 0px 4px 6px 0px #8b8b8b67;
}

@media (min-width: 800px) and (max-width: 1000px) {
  .custom-modal-dialog {
    width: 80%;
  }
}

@media (min-width: 0px) and (max-width: 800px) {
  .plan-container {
    display: block;
  }

  .custom-modal-dialog {
    width: 90%;
  }
}

.badge.badge-danger {
  background-color: red;
}

.profile-dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.profile-dropdown img {
  cursor: pointer;
}

.profile-dropdown .dropdown-icon {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-dropdown .dropdown-icon img {
  width: 16px;
  height: 16px;
}

.profile-dropdown .dropdown-menu {
  right: 0;
  left: auto;
  will-change: transform;
}

.blur {
  filter: blur(5px);
}

/* General Calendar Styles */
.flatpickr-calendar {
  width: 360px;
  border-radius: 24px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  background: var(--calendar-bg-color);
}

.flatpickr-day {
  background: var(--event-bg-color);
  color: var(--event-text-color);
  border-radius: 5px;
  font-size: 13px;
  padding: 0;
  border: 1px solid transparent;
  width: 30px;
  /* Adjust width as needed */
  height: 30px;
  /* Adjust height as needed */
  line-height: 30px;
  /* Center text vertically */
  margin: 3px;
  /* Add margin to create space between days */
  margin-top: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.flatpickr-day.selected {
  background-color: #ff003d;
  border: none;
  color: white;
}

.flatpickr-day:hover {
  background-color: #ff003d !important;
  color: #ffffff !important;
  border: none;
}

/* Default selected day style */
.flatpickr-day.selected,
.flatpickr-day.prevMonthDay.selected,
.flatpickr-day.nextMonthDay.selected {
  background-color: #ff003d !important;
  color: #ffffff !important;
}

/* Style for days of the previous and next month that are not selected */
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay {
  color: var(--calender-prev-next-day);
}

/* Higher specificity for Flatpickr weekday name styles */
.flatpickr-calendar .flatpickr-weekdaycontainer .flatpickr-weekday {
  padding: 5px 0;
  margin-top: 10px;
  color: var(--event-text-color) !important;
}

/* Remove border and set custom color for the arrow buttons */
.flatpickr-prev-arrow,
.flatpickr-next-arrow {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  padding: 0;
  /* Remove any padding if exists */
}

/* Custom styles for the arrow buttons */
.flatpickr-prev-arrow svg path,
.flatpickr-next-arrow svg path {
  fill: var(--text-color) !important;
  /* Custom fill color */
}

/* Styles for the month and year elements */
.flatpickr-calendar .flatpickr-current-month {
  padding: 0px 0;
  margin-left: -12px;
  margin-top: 5px;
  color: var(--event-text-color);
}

.flatpickr-calendar .flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-calendar .flatpickr-current-month .numInput-wrapper {
  padding: 0;
  color: var(--event-text-color) !important;
}

/* Example for changing the color of SVG arrows directly */
.flatpickr-prev-month svg,
.flatpickr-next-month svg {
  fill: var(--text-color);
  /* Change the color to your desired color */
}

/* Remove dropdown icon from the month */
.flatpickr-calendar .flatpickr-current-month .flatpickr-monthDropdown-months::after {
  display: none !important;
}

/* Today Highlight */
.flatpickr-day.today {
  border: 1px solid #ff003d;
}

.flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
  border-radius: 15px;
  font-size: 17px;
  background: #000;
}

/* Customize the background color of the month dropdown options */
.flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
  background-color: var(--sidebar-bg-color) !important;
  color: var(--sidebar-text-color) !important;
  /* White background for each month option */
}

/* Additional styles for buttons and layout */
.date-card {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 25px 30px;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  z-index: 1000;
  background-color: var(--card-bg-color);
}

.card.date-card.show {
  display: flex;
  position: fixed;
  width: auto;
  height: auto;
  background: var(--sidebar-bg-color);
}

.calendars {
  display: flex;
  justify-content: start;
  gap: 40px;
  width: 100%;
  margin-bottom: 20px;
  border: none !important;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.btn-container {
  display: flex;
  justify-content: start;
  gap: 20px;
  width: 100%;
}

.btn.apply {
  width: 143px;
  height: 37px;
  border-radius: 7px;
  background: #ff003d;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.btn.reset {
  width: 150px;
  height: 39px;
  border-radius: 7px;
  background: var(--button-bg);
  color: var(--button-text);
  border: 1px solid var(--button-border);
  font-size: 16px;
  font-weight: 700;
}

.calendar {
  display: none;
}

#dateFilter,
#dateFilter2 {
  border-radius: 24px;
  background: var(--button-bg);
  border: 1px solid var(--button-border);
  display: flex;
  width: 155px;
  height: 41px;
  padding: 11px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: var(--button-text);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  transition: background-color 0.3s, color 0.3s;
}

.color-box {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  vertical-align: middle;
}

.custom-legend {
  display: flex;
  flex-direction: column;
}

.custom-legend div {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.custom-legend .legend-color {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border-radius: 4px;
}

.legend {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.legend div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.legend div span {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 3px;
}

.members {
  background-color: #f2454e;
}

.congregation {
  background-color: #ffb169;
}

.bar-chart {
  display: flex;
  margin-right: 15px;
  align-items: flex-end;
  height: 100px;
}

.bar {
  width: 20px;
  margin: 0 10px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: height 0.5s;
}

.bar.members {
  background-color: #f2454e;
  height: 0;
}

.bar.congregation {
  background-color: #ffb169;
  height: 0;
}

.bar-value {
  text-align: center;
  font-weight: 700;
  margin-top: 5px;
}

.chart-container {
  width: 170px;
  height: 80px;
}

.card-header {
  background: none;
}

.card-header h5 {
  margin: 0;
}

.table {
  border: none !important;
}

.table th {
  background-color: var(--contact-bg);
  color: var(--contact-name);
  border: none !important;
}

.btn-refresh {
  border-radius: 24px;
  background: var(--button-bg);
  border: 1px solid var(--button-border);
  display: flex;
  width: 195px;
  height: 41px;
  padding: 11px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: var(--button-text);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-all {
  border-radius: 24px;
  background: var(--button-bg);
  border: 1px solid var(--button-border);
  display: flex;
  width: 195px;
  height: 41px;
  padding: 11px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: var(--button-text);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-all:hover {
  color: var(--button-text);
}

.btn-refresh:hover {
  color: var(--button-text);
}

.table th,
.table td {
  vertical-align: middle;
  border: none !important;
}

.table td label {
  color: var(--contact-name);
  font-weight: bold;
}

.table td a {
  color: var(--contact-text);
}

.table td.cont {
  color: var(--contact-text);
}

.table .btn-link {
  padding: 0;
}

.status-active {
  color: #1c9565;
}

.status-inactive {
  color: #951c1c;
}

.sidebar {
  height: 100%;
  transition: width 0.3s ease;
  /* Transition width for smooth sidebar toggle */
}

.toggle-btn:hover {
  color: var(--primary-color);
}

.sidebar a i {
  min-width: 30px;
  font-size: 20px;
}

#main {
  transition: margin-left 0.3s ease;
  /* Transition margin-left for smooth content shift */
  padding: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}


.sidebar.closed {
  width: 100px;
  justify-content: center;
  align-items: center;
}

.sidebar.closed .nav-link {
  display: none;
}

.dash .rotate-icon {
  color: #fff !important;
}

.iconlink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar.closed .dash {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 50px;
  width: 50px;
}

.dash .nav-icon {
  margin-bottom: 2px;
  height: 18px !important;
  margin-left: 0 !important;
  width: 18px !important;
}

.sidebar.closed .rotate-icon {
  display: none;
}

.sidebar.closed .closed-pos {
  justify-content: center !important;
}

.sidebar.closed li {
  margin-bottom: 26px;
  width: 50px;
}

.sidebar.closed .nav-icon {
  margin-bottom: 0px;
  margin-right: 0px !important;
}

.sidebar.closed svg {
  width: 25px;
  /* Adjust width of .sico1 when sidebar is closed */
}

.sidebar .slogomain {
  background-image: var(--logo-image-url);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  display: block;
  margin: auto;
}

.slogomain1 {
  background-image: var(--logo-image-url);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  display: block;
  margin: auto;
}

.logohead {
  margin-top: 5px;
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sidebar .slogo {
  display: none;
}

.sidebar.closed .logohead {
  display: none;
}

.sidebar.closed .slogomain {
  display: none;
}

.sidebar.closed .slogo {
  background-image: var(--logo-image-url);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  display: block;
  margin: auto;
}

.sidebar.closed .sico2 {
  margin-left: 2px;
  width: 19px;
  /* Adjust width of .sico1 when sidebar is closed */
  margin-top: 35px;
}

.sidebar-wrapper {
  position: relative;
  /* Ensure relative positioning for absolute children */
}

.toggle-btn {
  position: absolute;
  top: 50%;
  /* Adjust as needed */
  right: -15px;
  /* Position on the right side */
  transform: translateY(-50%);
  /* Center vertically */
  background: transparent;
  padding: 0;
  z-index: 999;
  border: none;
  /* Optional: Remove default button styling */
  outline: none;
  /* Remove outline on focus */
}

.sidebar.closed .toggle-btn {
  right: -25px;
}

.toggle-btn svg {
  cursor: e-resize;
}

.event-card {
  display: flex;
  border: none;
  height: 25%;
  padding-bottom: 30px;
  align-items: center;
  border-radius: 10px;
  background: #f9f9f9;
  padding-left: 20px;
  margin-bottom: 20px;
  background-color: var(--event-bg-color);
  color: var(--event-text-color);
  transition: background-color 0.3s, color 0.3s;
}

.event-date {
  color: var(--event-text-color);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.eventd-and-d {
  margin-top: 10px;
  align-items: center;
  text-align: center;
}

.event-link {
  color: var(--event-text-color);
}

.event-day {
  color: var(--event-text-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.event-details {
  margin-left: 20px;
  margin-top: 20px;
  display: block;
  color: var(--event-text-color);
}

.event-details h5 {
  font-size: 16px !important;
}

.event-details p {
  font-size: 12px !important;
}

.event-btn {
  background: var(--event-btn);
  color: var(--button-text);
  border: none;
  position: absolute;
  bottom: 0;
  font-size: 12px !important;
  right: 0;
  padding: 3px 20px 3px 20px;
  border-radius: 5px 0px;
  flex-shrink: 0;
  margin-bottom: 14px;
}

.card-header h4 {
  margin-top: 10px;
  font-size: 18px !important;
}

.card-header a {
  font-size: 13px !important;
}

.task-card {
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  transition: background-color 0.3s, color 0.3s;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: var(--card-bg-color);
  color: var(--event-text-color);
  transition: background-color 0.3s, color 0.3s;
}

.task-menu {
  position: relative;
  display: inline-block;
}

.task-dropdownmenu {
  display: none;
  position: absolute;
  left: -450%;
  /* Position on the left side of the button */
  border-radius: 7px 0px 7px 7px;
  border: none;
  background: var(--task-dropdown-bg);
  box-shadow: 0px 6px 15px 0px var(--task-dropdown-bg-sha);
  width: 121px;
  height: auto;
  flex-shrink: 0;
}

.task-icon {
  fill: var(--absent-text-color);
}

.task-dropdownmenu a {
  color: var(--absent-text-color);
  padding: 12px 16px;
  text-decoration: none;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: block;
}

.task-dropdownmenu a:hover {
  background-color: var(--task-dropdown-hover-bg);
}

.task-checkbox {
  display: none;
}

.check {
  position: relative;
  margin-right: 4px;
  cursor: pointer;
}

.check:before {
  content: "";
  position: absolute;
  left: -14px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
}

.task-checkbox:checked+.check:before {
  background-color: #e61515;
  /* Your desired color */
  border: none;
}

.task-checkbox:checked+.check:after {
  content: "";
  position: absolute;
  left: -8px;
  transform: translateY(-50%) rotate(45deg);
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
}

.refer-card {
  border-radius: 12px;
  color: var(--absent-text-color);
  background: var(--refer-bg-color);
  transition: background-color 0.3s, color 0.3s;
}

.absent-members-card {
  background-color: var(--absent-bg-color);
  color: var(--absent-text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Notification Pannel CSS  */

.notification-card {
  display: none;
  position: absolute;
  top: 70px;
  right: 50px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: var(--card-bg-color);
  height: auto;
  cursor: pointer;
}

.notification-item {
  margin-top: 8px;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid var(--button-border);
}

.notification-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.notification-header {
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}


.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  cursor: pointer;
}

.pagination .disabled {
  background-color: var(--sidebar-bg-color) !important;
  cursor: not-allowed;
  color: var(--button-text) !important;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Styles for extra small screens */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for small screens */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for medium screens */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  /* .card{
    max-width: 350px !important;
  } */
  #myPieChart {
    width: 120px !important;
    height: 120px !important;
  }

  .card-title {
    font-size: 22px !important;
  }

  .legend {
    margin-top: 16px !important;
    font-size: 10px !important;
  }

  .custom-legend {
    margin-top: 26px !important;
    font-size: 10px !important;
  }

  .card-text {
    font-size: 12px !important;
  }

  .card-body {
    padding: 19px 16px !important;
  }

  .chart-container {
    margin-top: -35px !important;
  }

  .card-header h4 {
    margin-bottom: 0 !important;
    font-size: 20px !important;
  }

  .card-header a {
    font-size: 14px !important;
  }

  .event-date {
    font-size: 22px !important;
  }

  .event-day {
    font-size: 12px !important;
  }

  .event-details h5 {
    font-size: 15px !important;
  }

  .event-details p {
    font-size: 12px !important;
  }

  .event-btn {
    padding: 3px 20px !important;
    font-size: 11px !important;
    margin-bottom: 14px !important;
  }

  .task-card h3 {
    font-size: 1.20rem !important;
  }

  .task-title {
    font-size: 13px !important;
  }

  .delete-task {
    font-size: 13px !important;
  }

  .check {
    margin-bottom: 4px !important;
  }

  .card-img-overlay img {
    width: 120px !important;
    height: 120px !important;
  }

  .absent-members-card .card-text {
    font-size: 28px !important;
  }

  .btn-dark {
    font-size: 12px !important;
  }

  .btn {
    font-size: 12px !important;
  }

  .refer-card h4 {
    font-size: 18px !important;
  }

  .refer-card h2 {
    margin-top: 10px !important;
    font-size: 23px !important;
  }

  .refer-card img {
    width: 90px !important;
  }

  .form {
    margin-top: 35px;
    height: 190px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .grid-md-none {
    display: block !important;
    width: 100%;
  }

  .col-md-12,
  .col-md-9,
  .col-md-6 {
    width: 100% !important;
  }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1440.98px) {
  #myPieChart {
    width: 130px !important;
    height: 130px !important;
  }

  .card-title {
    font-size: 24px !important;
  }

  h4.card-title {
    font-size: 15px !important;
  }

  .legend {
    margin-top: 20px !important;
    font-size: 11px !important;
  }

  .custom-legend {
    margin-top: 40px !important;
    font-size: 11px !important;
  }

  .card-text {
    font-size: 11px !important;
  }

  .card-body {
    padding: 12px 16px !important;
  }

  #myChart {
    width: 135px !important;
    height: 70px !important;
  }

  .chart-container h3 {
    font-size: 25px !important;
    left: 37px !important;
  }

  .card-header h4 {
    margin-bottom: 0 !important;
    font-size: 20px !important;
  }

  .card-header a {
    font-size: 14px !important;
  }

  .event-date {
    font-size: 22px !important;
  }

  .event-day {
    font-size: 12px !important;
  }

  .event-details h5 {
    font-size: 15px !important;
  }

  .event-details p {
    font-size: 12px !important;
  }

  .event-btn {
    padding: 3px 20px !important;
    font-size: 11px !important;
    margin-bottom: 14px !important;
  }

  .task-card h3 {
    font-size: 1.20rem !important;
  }

  .task-title {
    font-size: 13px !important;
  }

  .delete-task {
    font-size: 13px !important;
  }

  .check {
    margin-bottom: 4px !important;
  }

  .card-img-overlay img {
    width: 120px !important;
    height: 120px !important;
  }

  .absent-members-card .card-text {
    font-size: 28px !important;
  }

  .btn-dark {
    font-size: 12px !important;
  }

  .btn {
    font-size: 12px !important;
  }

  .refer-card h4 {
    font-size: 18px !important;
  }

  .refer-card h2 {
    margin-top: 10px !important;
    font-size: 23px !important;
  }

  .refer-card img {
    width: 90px !important;
  }

  /* Styles for extra large screens */
}

.responsive-header {
  background-color: var(--sidebar-bg-color);
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0.5px;
  z-index: 100;
  padding: 20px;
}

.responsive-header svg {
  cursor: pointer;
}

.responsive-header svg path {
  fill: var(--button-text) !important;
}

#sidebarSticky {
  position: fixed !important;
  top: 50px !important;
  width: 260px !important;
  height: 100vh !important;
  padding-top: 30px;
  padding-right: 20px;
  left: 0;
}

.header-resp {
  position: fixed;
  width: 100%;
  top: 80px;
  left: 0;
  background-color: var(--bg-color);
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .sidebar-wrapper {
    display: none;
  }

  .card-cont {
    margin-top: 40px !important;
  }

  .card-cont .card-header {
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    gap: 20px !important;
  }

  .card-cont .d-flex {
    display: flex;
    flex-direction: column !important;
    margin-bottom: 10px !important;
  }

  .footer {
    margin: auto !important;
    margin-top: 30px !important;
  }

  .sticky-top {
    display: none;
  }

  .responsive-header {
    display: flex;
  }

  #main {
    padding: 0 !important;
  }

  #main-content {
    padding: 30px;
  }

  .card.date-card.show {
    height: 100%;
    width: 100%;
    margin-top: 80px;
  }

  .calendars {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: auto;
    overflow: auto;
    gap: 40px;
  }

  .calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}